<div id="page-transitions" ng-init="loadDashbaord()">
    <div class="page-preloader page-preloader-dark">
        <img class="page-preload" src="../img/preload.gif">
    </div>

    <div id="page-content" class="">
        <div id="page-content-scroll">
            <div class="content">
                <h1>{{username}}'s Dashboard</h1>
            </div>
            <div class="decoration decoration-margins"></div>
            <!--Enables this element to be scrolled -->
            <div class="home-round-slider full-bottom">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="dashboard-img-2a" ng-click="projects()"></div>
                        <h3>Projects</h3>
                        <em>Get help with your DIY projects</em>
                    </div>
                    <div class="swiper-slide">
                        <div class="dashboard-img-2b" ng-click="search()"></div>
                        <h3>Search</h3>
                        <em>A worldwide search for products required for your DIY project</em>
                    </div>
                </div>
            </div>

            <div class="decoration decoration-margins"></div> 
            <div class="content">
                <button class="button button-red" ng-click="LogOut()">Logout</button>
            </div> 
        </div>
    </div>
</div>