<div id="page-transitions" ng-init="loadDashbaord()">
    <div class="page-preloader page-preloader-dark">
        <img class="page-preload" src="../img/preload.gif">
    </div>

    <div id="page-content" class="">
        <div id="page-content-scroll">
            <!--Enables this element to be scrolled -->

            <div class="home-round-slider full-bottom">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="dashboard-img-2a" ng-click="projects()"></div>
                        <h3>Projects</h3>
                        <em>Get help with your DIY projects</em>
                    </div>
                    <div class="swiper-slide">
                        <div class="dashboard-img-2b" ng-click="search()"></div>
                        <h3>Search</h3>
                        <em>A worldwide search for products required for your DIY project</em>
                    </div>
                    <div class="swiper-slide">
                        <div class="dashboard-img-2c" ng-click="tools()"></div>
                        <h3>Tools</h3>
                        <em>A set of tools provided to make the process of completing the DIY project easier</em>
                    </div>
                </div>
            </div>

            <div class="decoration decoration-margins"></div>

            <div class="content material-no-bottom material-half-top">
                <div class="heading-text">
                    <h4>Project history</h4>
                    <div class="heading-line-1"></div>
                    <i class="fa fa-star-o color-red-dark"></i>
                    <div class="heading-line-2"></div>
                    <p>
                        No saved projects. Create a new project.
                    </p>
                </div>
                <div class="center-socials full-bottom">
                    <a href="#" class="icon icon-round icon-s no-border facebook-bg"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="icon icon-round icon-s no-border google-bg"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="icon icon-round icon-s no-border twitter-bg"><i class="fa fa-twitter"></i></a>
                </div>
            </div>

            <div class="decoration decoration-margins"></div>

            <a href="#" class="back-to-top-badge"><i class="fa fa-caret-up"></i>Back to Top</a>
        </div>
    </div>
</div>