<div id="page-transitions" ng-init="loadProjects()">

    <div class="page-preloader page-preloader-dark">
        <img class="page-preload" src="../img/preload.gif">
    </div>

    <form ng-submit="submitSearch()" ng-controller="ProjectsCtrl">
        <div id="page-content" class="page-content search">
            <div id="page-content-scroll">
                <div class="top_promo_block" id="promo_head" style="height: 444px;">
                    <div class="start_descrition">
                        <h1 style="padding-top:50px">Welcome<span></span></h1>
                        <div class="search_promo">
                            <div class="input-group">
                                <autocomplete options="datas"
                                              place-holder="What are you working on?"
                                              on-select="onSelect"
                                              display-property="title"
                                              input-class="form-control"
                                              clear-input="false"></autocomplete>
                                <div class="input-group-btn btn_promo_search">
                                    <button type="submit" class="btn btn-success" id="submit">Search</button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h1 style="padding-top:15px">Projects stated<span></span></h1>
                            <div ng-show="isProjectStart">
                                <div ng-repeat="d in datas">
                                    <div ng-if="d.isActive">
                                        <div class="content no-material" ng-click="openProject(d.id)">
                                            <div ng-if="d.progress < 50">
                                                <div class="notification-large bg-red-light">
                                                    <h1 class="text-left">{{d.title}}</h1>
                                                    <p class="text-left">
                                                        Progress : {{d.progress}}
                                                    </p>
                                                    <a href="#" class="hide-notification"><i class="fa fa-times"></i></a>
                                                </div>
                                            </div>
                                            <div ng-if="d.progress >= 50 && d.progress <= 79">
                                                <div class="notification-large bg-orange-light">
                                                    <h1 class="text-left">{{d.title}}</h1>
                                                    <p class="text-left">
                                                        Progress : {{d.progress}}
                                                    </p>
                                                    <a href="#" class="hide-notification"><i class="fa fa-times"></i></a>
                                                </div>
                                            </div>
                                            <div ng-if="d.progress >= 80">
                                                <div class="notification-large bg-green-light">
                                                    <h1 class="text-left">{{d.title}}</h1>
                                                    <p class="text-left">
                                                        Progress : {{d.progress}}
                                                    </p>
                                                    <a href="#" class="hide-notification"><i class="fa fa-times"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-hide="isProjectStart">
                                <p>No projects started</p>
                            </div> 
                        </div>
                    </div>
                </div> 
            </div> 
        </div>
    </form>
</div>